:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.register-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.register-container {
  text-align: center;
}

.register-logo {
  width: 100px;
  margin-bottom: 1rem;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    width: 100%;
}
